html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}
body {
    display: flex;
}
body > div {
    height: 100%;
}
div.chart {
    width: 75%;
    text-align: center;
    border-right: 2px solid black;
}
div#chart_div {
    margin-left: -150px;
}
div.chart > h1 {
    margin-bottom: 0px;
}
div.more {
    width: 25%;
}
div.more > div > div:nth-child(2) {    
    padding-top: 3em;
}
div.stats {
    height: auto;
    max-height: 40%;
    overflow-y: scroll;
    border-bottom: 2px solid black;
}
div.settings {
    height: auto;
    max-height: 60%;
    overflow-y: scroll;
}
div.stats, div.settings {
    text-align: left;
}
div.stats > *, div.settings > * {
    padding-left: 10px;
}
div.stats > div {
    text-align: left;
}
div.stats > div > p {
    text-decoration: underline;
    margin-bottom: 0;
}
div.infectionRoot > table {
    margin-left: 20px;
    border-collapse: collapse;
}
div.furtherStats > table {
    padding-left: 0;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
div.furtherStats {
    padding-left: 0;
}
div.furtherStats > p {
    padding-left: 10px;
}
div.furtherStats th, div.furtherStats td {
    border: 1px solid black;
}
div.furtherStats td:first-child {
    border-left: 0;
}
div.furtherStats td:not(:first-child) {
    border-right: 0;
}
div.furtherStats th:first-child {
    border-top: 0;
    border-left: 0;
}
div.furtherStats th:not(:first-child) {
    border-top: 0;
    border-right: 0;
}   
div.furtherStats tr > td {
    border-bottom: 0;
    border-top: 0;
}
div.furtherStats tr:nth-child(even), div.measures tr:nth-child(even) {
    background-color: #dddddd;
}
div.furtherStats tr:not(:first-child):hover, div.measures tr:not(:first-child):hover {
    background-color: rgb(136, 136, 136);
    cursor: pointer;
}
p#legend {
    text-decoration: none;
}
div.more > div > .header {
    padding-left: 0;
    margin-right: 10px;
    width: calc(25% - 10px);
    text-align: center;
    position: fixed;
    background-color: white;
}
div.more > div > .header > h3 {
    margin-bottom: 5px;
}
input#populationVal, input#startIval {
    width: 80px;
}
div.settings > div > p {
    text-decoration: underline;
}
div.measures table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
div.measures {
    padding-left: 0;
}
div.measures > p {
    padding-left: 10px;
}
div.measures table tr:hover {
    cursor: auto;
}
div.measures tr:first-child th {
    border-bottom: 1px solid black;
}
input#measureDay {
    width: 50px;
}
div.measures img {
    height: 1em;
}
#addMeasure:hover {
    cursor: pointer;
}
#avgInt table input[type="number"] {
    width: 50px;
}
.ctrl {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.ctrl > i {
    font-size: 2em;
    margin-left: .5em;
    cursor: pointer;
}
.loading {
    display: none;
    position: absolute;
    font-size: 1.5em;
    margin: auto;
    width: 50%;
    padding-top: 9.5em;
    text-align: right;
}
.loading img {
    height: 1em;
    margin-bottom: -5px;
}
/*@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }
    div.chart, div.more {
        width: 100%;
    }
    body > div, div.more > div {
        width: 100%;
    }
    div.chart {
        height: 60%;
    }
    div.more {
        height: auto;
        max-height: 50%;
    }
    html, body {
        overflow: scroll;
    }
}*/
::-webkit-scrollbar {
    width: 10px;
}  
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .5); 
}
::-webkit-scrollbar-thumb {
  background: rgb(121, 121, 121); 
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}