html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: .25em;
}

table {
    width: 100%;
}

tfoot tr:not(:first-child) td:hover {
    cursor: pointer;
}

tfoot tr td:first-child {
    font-size: .8em !important;
}

thead input {
    width: 100% !important;
    /* font-size: .8em !important;   */
}

thead th:first-child {
    /* font-size: .8em !important; */
}