html, body {
    color: white;
    background: #3d3d3d;
}

div.more > div > .header {
    background-color: #3d3d3d !important;
}

div.furtherStats tr:nth-child(even), div.measures tr:nth-child(even) {
    background-color: #686868 !important;
}

input {
    color: white !important;
    background-color: rgb(59, 59, 59) !important;
    border-color: rgb(133, 133, 133) !important;
    border-radius: 3px;
}

rect {
    fill: #3d3d3d !important;
    /* color: white !important; */
}