div.wrapper {
    width: 80%;
    margin: auto;
    margin-top: 1em;
    font-family: sans-serif;
}

.wrapper > h1 {
    text-align: center;
    color: rgb(109, 109, 109);
}

.pages {
    display: flex;
    justify-content: space-between;
}

.articles {
    display: flex;    
    flex-direction: column;
}

.articles article {
    transition: all 0.3s ease-out;
    color: rgb(109, 109, 109);
    border: 1px solid cornflowerblue;
    border-top: 3px solid cornflowerblue;
    border-radius: 7px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1em 0 1em 0;
    padding: 10px 15px 10px 10px;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.articles article > div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.articles article:hover {    
    box-shadow: 3px 10px 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.09);
}

.articles article > div *:not(a) {
    cursor: pointer;
}

.articles article > div h1 {
    font-size: 1.7em;
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
}

.articles article > div h1:hover {
    text-decoration: underline;
}

.articles article > div p {
    margin-top: 5px;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
}

.articles article > div a {
    font-family: sans-serif;
}

.articles article img {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 11em;
    margin-right: 10px;
}

@media (max-width: 750px) {
    .articles article {
        flex-direction: column;
    }
    .articles article img {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 0;
        margin-right: 0;
    }
    .articles article > div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 530px) {
    .articles article img {        
        height: auto;
        width: 99%;
    }
}

select {
    border: 2px solid gray;
    padding: 4px;
    border-radius: 5px;
}

select:hover {
    cursor: pointer;
}

select:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
    border: 2px solid cornflowerblue;
}

hr {
    display: none;
}

@media (max-width: 620px) {
    .pages {
        justify-content: flex-start;
        flex-direction: column;
    }
}

@media (max-width: 440px) {
    .wrapper {
        width: 95% !important;
    }
}

@media (max-width: 380px) {
    hr {
        display: block;
    }
}