@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

div.post {
    margin: auto;
    position: relative;
    width: 70%;
    margin-bottom: 5em;
}

img {
    width: 100%;
}

.post {
    font-family: 'Josefin Sans', sans-serif;
}

.post .title {
    font-size: 3.6em;
}

div#articleInfo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

@media screen and (max-width: 850px) {
    div.post {
        width: 90%;
    }
    .post .title {
        font-size: 2.6em;
    }
}

.post article {
    font-size: 1.8em;
    line-height: 1.5;
}

@media (max-width:  480Px) {
    .post article {
        font-size: 1.3em;
    }
}

.post article img {
    margin: 15px;
    height: 10em;
    width: auto;
}

@media (max-width:  500Px) {
    .post article img {
        float: none;
        margin: auto;
        height: 20%;
    }
}

.post article img:nth-child(even) {
    float: right;
}

.post article img:nth-child(odd) {
    float: left;
}

.post #description {
    font-size: 1.8em;
}

button#edit,
button#delete {
    padding: 10px;
    color: white;
    background-color: cornflowerblue;
    font-size: 2em;
    border-radius: 5px;
    border: none;
    margin-bottom: 1em;
}

button#edit:hover,
button#delete:hover {
    cursor: pointer;
    background-color: #202f72;
}