div.createPost * {
    box-sizing: border-box;
    font-family: sans-serif;
    color: gray;
    text-decoration: none;
}

u {
    text-decoration: underline !important;
}

p.authorInfos {
    font-size: 1.6em;
}

p.authorInfos > a:hover {
    text-decoration: underline;
}

div.createPost,
.createPost > form {
    margin: auto;
    position: relative;
    width: 60%;
}

input.create {
    margin-bottom: 5em;
}

.createPost > form {
    width: 100%;    
}

input[type="submit"]:hover {
    background: #202f72;
}

.createPost input:not([type="checkbox"]),
.createPost input:not([type="submit"]),
.createPost textarea {
    padding: 10px;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    width: 100%;
    resize: vertical;
}

.createPost input:not([type="checkbox"]):hover,
.createPost input:not([type="submit"]):hover,
.createPost textarea:hover {
    border: 2px solid #202f72;    
}

.createPost input:not([type="checkbox"]):focus,
.createPost input:not([type="submit"]):focus,
.createPost textarea:focus {
    outline: none;
    background-color: rgba(9, 144, 255, 0.171);
}

input[type="submit"],
input[type="button"] {
    margin: 1em;
    cursor: pointer;
    color: white;
    font-size: 1.4em;
    background: cornflowerblue;
}

div#buttons {
    display: flex;
    justify-content: space-around;
}

.createPost input[type="checkbox"] {
    width: auto;
}

label {
    display: inline-block;
    font-size: 1.3em;
}

#buttons > input:hover {
    border: 2px solid cornflowerblue !important;
}

#buttons > input:first-child:hover {
    background-color: #202f72;
}

div.createPost form > div {
    margin-bottom: 2.5em; 
}

div.createPost form > div > div:first-child {
    float: left;
    width: 25%;
}

div.createPost form > div:after {
    content: "";
    width: 75%;
}

@media screen and (max-width: 600px) {
    input.create {
      width: 100%;
    }
}

textarea {
    margin-top: .4em;
    height: 20em; 
    font-size: 1.3em;  
}

div.imageUp > span {
    font-size: 1.2em;
}

label:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* File input: */

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"] + .fileLabel {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.input[type="file"]:focus + label,
.input[type="file"] + .fileLabel:hover {
    background-color: cornflowerblue;
}


.inputfile-6 + label {
    color: cornflowerblue;
}

.inputfile-6 + label {
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #202f72;
    cursor: pointer;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #ffffff;
    background-color: cornflowerblue;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #202f72;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}

label.file {
    height: 2.3em;
    width: 100%;
}

label.file strong {
    float: left;
}

label.file path {
    fill: white;
}

label.file span {
    float: right;
    width: auto;
}

/* Checkox: */

input[type="checkbox"] {
    display:none;
  }
  input[type="checkbox"] + label::before {
    width: 22px;
    height: 18px;
    background-image: url("../images/checkbox/unchecked.png");
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
  }
  input[type="checkbox"]:checked + label::before {
    background-image: url("../images/checkbox/checked.png");
  }


.legend {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: space-around;
}

.legend a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    div.createPost,
    .createPost > form {
        width: 90%;
    }
}

@media screen and (max-width: 680px) {
    .legend {
        display: flex;
        flex-direction: column;
    }
    .legend div {
        padding-top: 10px;
    }
    .articleTxt {
        flex-direction: column
    }
}

.articleTxt div {
    display: inline;
}
 
.articleTxt a:hover {
    text-decoration: underline;
    cursor: pointer;
} 

.imageUp {
    margin-top: 2em;
}

.preview {
    display: none;
    z-index: 100;
    position: absolute;
    top: 0;    
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 60%;
    height: 60%;
    direction: ltr;
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    padding: 20px;
    background-color: aliceblue;
}

.preview > p {
    margin-top: 70px;
}

.preview #close {
    margin-left: 1em;
    cursor: pointer;
    position: relative;
    float: left;
    height: 45px;
    width: auto;
    z-index: 111;
}

.preview #close > div {
    display: block;
    width: 50px;
    height: 0;
    margin-top: 10px;
    border: 3px solid cornflowerblue;
    border-radius: 3px;
    background-color: cornflowerblue;
}

.preview #close div:last-child {
    transform: translateY(-8px) rotateZ(-45deg);
}

.preview #close div:first-child {
    transform: translateY(8px) rotateZ(45deg);
}

.notAuthorized,
.noLogin  {
    font-family: sans-serif;
    color: gray;
    margin: auto;
    position: relative;
    width: 80%;
}

.notAuthorized h2,
.noLogin  h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.notAuthorized a,
.noLogin a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    padding: 15px;
    top: 15px;
    background: cornflowerblue;
    border-radius: 10px;
}

.notAuthorized a:hover,
.noLogin a:hover {
    background: #202f72;
}

.notAuthorized h2:before,
.noLogin h2:before {
    background-image: url("../images/warning.png");
    background-size: .8em .8em;
    display: inline-block;
    width: .8em; 
    height: .8em;
    content:"";
}

.articleTxt {
    margin-top: 20px;
    box-sizing: content-box !important;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

.articleTxt > div {    
    box-sizing: content-box !important;
}

.articleTxt > div:last-child a:hover {
    text-decoration: none;
}

.articleTxt > div:last-child {
    padding-right: 30px;
}

select.imgNr {
    border: 2px solid gray;
    padding: 4px;
    border-radius: 5px;
}

select.imgNr:hover {
    cursor: pointer;
}

select.imgNr:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
    border: 2px solid cornflowerblue;
}

input.create:hover {
    background: #202f72;
}

input.inputfile {
    width: 24px !important;
}

@media (max-width: 445px) {
    div#buttons {
        justify-content: flex-start;
        flex-direction: column;
    }
}