div.wrapper {
    width: 80%;
    margin: auto;
}

.noResults {
    font-family: sans-serif;
    color: gray;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 50%;
}

@media (max-width: 450px) {
    div.wrapper {
        width: 95%;
    }
}

div.wrapper > div.filters {
    display: flex;
    justify-content: space-between;    
    font-family: sans-serif;
    color: gray;
    font-size: 1.2em;
    margin: auto;
    width: 90%;
    margin-top: 1em;
}

div.searchResults {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.searchResults > div {
    display: flex;
    flex-direction: column;    
}

div.filters select {
    border: 2px solid gray;
    padding: 4px;
    border-radius: 5px;
}

div.filters select:hover {
    cursor: pointer;
}

div.filters select:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
    border: 2px solid cornflowerblue;
}

.searchResults article {
    transition: all 0.3s ease-out;
    color: rgb(109, 109, 109);
    border: 1px solid cornflowerblue;
    border-top: 3px solid cornflowerblue;
    border-radius: 7px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1em 0 1em 0;
    padding: 10px 15px 10px 10px;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.searchResults article > div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.searchResults article:hover {    
    box-shadow: 3px 10px 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.09);
}

.searchResults article > div *:not(a) {
    cursor: pointer;
}

.searchResults article > div h1 {
    font-size: 1.7em;
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
}

.searchResults article > div h1:hover {
    text-decoration: underline;
}

.searchResults article > div p {
    margin-top: 5px;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
}

.searchResults article > div a {
    font-family: sans-serif;
}

.searchResults article img {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 11em;
    margin-right: 10px;
}

@media (max-width: 750px) {
    .searchResults article {
        flex-direction: column;
    }
    .searchResults article img {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 0;
    }
    .searchResults article > div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 530px) {
    .searchResults article img {        
        height: auto;
        width: 99%;
    }
}

@media (max-width: 780px) {
    div.filters {
        justify-content: flex-start;
        flex-direction: column;
    }

    div.filters > div:first-child {
        margin-bottom: 1em;
    }
}