.articles {
    position: relative;
    height: 100%;
    border-radius: 0 0 13px 13px;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .5); 
}

::-webkit-scrollbar-thumb {
  background: cornflowerblue; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #202f72;
}

.articles > img {
    height: auto;
    width: 100%;
}

.articles > div {
    position: fixed;
    margin: 2em;
}

.articles p#articleTitle,
.articles p#articleDescription {
    color: white;
    font-family: sans-serif;
}

.articles p#articleTitle:hover {
    text-decoration: underline;
}

.articles p#articleTitle {
    text-shadow: 3px 3px 4px #777;
    font-size: 3em;
    max-width: 15em;
}

.articles p#articleDescription {
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
    font-size: 1.5em;
    max-width: 50em;
}

div.counter {
    position: fixed;
    bottom: 1em;
    margin: auto;
    margin-left: 50%;
}

div.counter > div {
    cursor: pointer;
    margin: 10px;
    height: 20px;
    width: 20px;
    border-radius: 100%;    
    background-color: rgba(255, 255, 255, 0.56);
    display: inline-block;
}

div.counter > div:hover,
div.counter > div#active {
    background-color: rgba(100, 100, 100, 0.7);
}

div#arrows {
    display: none;
}

div#arrows img {
    margin-top:4px;
    height: 40px;
    width: 40px;
}

div#arrows > div:last-child > img {
    transform: rotateY(180deg);
    margin-left: 7px;
}

div#arrows > div {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
div#arrows > div:last-child {
    float: right;
}

div#arrows > div:hover {
    background-color: rgba(100, 100, 100, 0.6);
}

@media (max-width: 1050px) {
    p#articleTitle {
        margin-top: 0;
    }
    p#articleDescription {
        margin-top: -10px;
    }
}

@media (max-width: 740px) {
    p#articleTitle {
        font-size: 2.5em !important;
    }
}

@media (max-width: 620px) {
    p#articleDescription {
        font-size: 1em !important;
    }
}

@media (max-width: 570px) {
    p#articleDescription {
        margin-top: -.5em;
    }
}

@media (max-width: 440px) {
    p#articleTitle {
        font-size: 2em !important;
    }
}