html,
body {
    margin: 0;
    padding: 0;
}

div#main-content {
    width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .5); 
}

::-webkit-scrollbar-thumb {
  background: cornflowerblue; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #202f72;
}