@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

iframe {
    width: 100%;
    height: 60%;
    border: 0;
    overflow: hidden;
}

.card .front, 
.card .back {
    border-radius: 7px;
    border: 1px solid cornflowerblue;
    padding-top: 5px;
    cursor: pointer;
}

.card .front {
    overflow-y: hidden;
}

.card .back {
    overflow-y: scroll;
}

.card .back img {
    filter: blur(10px) grayscale(8%);
}

.card {
    margin: 10px;
    height: 25%;
    display: inline-block;
}

.card h1,
.card p {
    text-shadow: 3px 3px 4px #777;
    margin: 10px;
    position: absolute;
    color: white;
    font-family: sans-serif;
}

.card p {
    z-index: 10;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

.card img {
    margin-top: -7px; /* border-radius value */
    width: 100%;
    height: auto;
}

.boxes > div.row {
    display: flex;
    justify-content: space-evenly;
}

.boxes {
    margin-top: 20px;
    margin-bottom: 50px;
}

div.further {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.further article {
    transition: all 0.3s ease-out;
    color: rgb(109, 109, 109);
    border: 1px solid cornflowerblue;
    border-top: 3px solid cornflowerblue;
    border-radius: 7px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1em 0 1em 0;
    padding: 10px 15px 10px 10px;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.further article > div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.further article:hover {    
    box-shadow: 3px 10px 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.09);
}

.further article > div *:not(a) {
    cursor: pointer;
}

.further article > div h1 {
    font-size: 1.7em;
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
}

.further article > div h1:hover {
    text-decoration: underline;
}

.further article > div p {
    margin-top: 5px;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
}

.further article > div a {
    font-family: sans-serif;
}

.further article img {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 11em;
    margin-right: 10px;
}

@media (max-width: 530px) {
    .further article img {        
        height: auto;
        width: 99%;
    }
}

@media (max-width: 750px) {
    .further article {
        flex-direction: column;
    }
    .further article img {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 0;
        margin-right: 0;
    }
    .further article > div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}