body {
    background: #3d3d3d;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

.title {
    text-align: center;
    margin: 15px;
}

.title_sub {
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
}

p.doc a {
    color: white;
    text-decoration: none;
}

p.doc {
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
}

p.doc span {
    text-decoration: underline;
}

#sections {
    display: flex;
    justify-content: space-evenly;
}

#sections a {
    width: 19%;
}

#sections img {
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}  

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .5); 
}

::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85); 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}