body {
    background: #3d3d3d;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

#title {
    text-align: center;
    font-size: 2.2em;
    margin: 15px;
}

#sections {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#sections > div {
    border: 1px solid white;
    border-radius: 7px;
    margin: 15px;
    display: flex;
}

#sections > div div:first-child {
    padding: 15px;
    font-size: 1.3em;
}

#sections > div:nth-child(even) {
    flex-direction: row-reverse;
}

#sections > div img {
    height: 15em;
    z-index: -10;
}

::-webkit-scrollbar {
    width: 10px;
}  

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .5); 
}

::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85); 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}